*.core
*.lo
*.loT
*.o
*.swp
*~
.deps
.libs/
/*.out
/.idea/
/Debug/
/Makefile
/Makefile.fragments
/Makefile.global
/Makefile.objects
/acinclude.m4
/aclocal.m4
/autom4te.cache
/build/
/cmake-build-debug/
/config.guess
/config.h
/config.h.in
/config.log
/config.nice
/config.nice.bat
/config.status
/config.sub
/configure
/configure.ac
/configure.bat
/configure.in
/configure.js
/couchbase.la
/docs/
/include/
/install-sh
/libtool
/ltmain.sh
/missing
/mkinstalldirs
/modules/
/package.xml
/run-tests.php
/test.cache
/tests/CouchbaseMock.jar
/phpunit.result.cache
